@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
header {
  margin-bottom: 5px;
  padding: 20px;
}

header img {
  display: block;
  margin: auto;
  max-width: 200px;
}
h3 {
  padding: 10px 15px;
}
i,
h3,
p {
  font-weight: 400;
  font-size: 1em;
}
h4 {
  font-weight: 500;
  font-size: 1em;
  padding: 5px;
}
h5 {
  font-weight: 300;
  font-size: 1em;
  padding: 5px;
}

h1 {
  font-weight: 500;
  margin-top: 10px;
  padding: 20px;
}
h2 {
  font-weight: 300;
  font-size: medium;
}
p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h6 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 20px 30px;
  max-width: 300px;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 4px 2px lightgrey;
  color: white;
  font-size: large;
  cursor: pointer;
}
footer {
  background: #353535;
  color: white;
  padding: 20px;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer p {
  font-size: smaller;
}
footer i {
  width: 32px;
}
.localisation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px #cdcccc;

  font-family: "Roboto";
  font-weight: 500;
  gap: 10px;
}
.titre-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f7f7f7;
  gap: 20px;
  padding: 40px 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.groupe-fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
}
.fonctionnement-etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.fonctionnement-etapes p {
  z-index: 1;
  position: absolute;
  color: white;
  background: #9356dc;
  border-radius: 50%;
  padding: 5px 10px;
}
.titre-etape {
  position: relative;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 20px;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  margin-left: 15px;
  width: 90vw;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background: #f7f7f7;
  gap: 20px;
  padding: 40px 20px;
}
.restaurants img {
  object-fit: cover;
  width: 90vw;
  border-radius: 20px 20px 0 0;
  height: 150px;
  width: 100%;
}
.card-restaurant {
  background: white;
  box-shadow: 0px 5px 5px lightgrey;
  border-radius: 20px;
}

.nom-restaurant {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.proposer-restaurant,
.devenir-partenaire {
  display: flex;
  align-items: center;
}

.proposer-restaurant i,
.devenir-partenaire i {
  padding: 0 17px 0 0;
}
.card-restaurant {
  position: relative;
}
.nouveau {
  position: absolute;
  right: 30px;
  top: 20px;
  padding: 5px;
  z-index: 1;
  color: #008766;
  background-color: #99e2d0;
}
.like {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
  font-size: xx-large;
  cursor: pointer;
}
.like :nth-child(2) {
  color: transparent;
  transition: all 350ms;
  padding: 0px;
}
.header-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.identite-restaurant,
.image-fond {
  background: #f7f7f7;
}
.image-fond img {
  object-fit: cover;
  width: 100vw;
  max-height: 300px;
  z-index: 1;
}
.identite-restaurant {
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
  z-index: 6;
}
.identite-restaurant div {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 30px 30px 5px 30px;
  border-radius: 50px 50px 0 0;
  background: #f7f7f7;
  margin-top: -50px;
}
.identite-restaurant h1 {
  font-family: "Shrikhand";
  font-size: 135%;
}
.menu {
  background: #f7f7f7;
  padding: 0 20px 20px 20px;
}
.menu h2 {
  font-weight: 300;
  font-size: large;
  text-transform: uppercase;
}
.ligne {
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}
.bloc-plat {
  position: relative;
  display: block;
  box-shadow: 0px 5px 5px lightgrey;
  border-radius: 20px;
}
.plat {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  z-index: 4;
  border-radius: 20px;
  transition: 400ms;
  margin-top: 10px;
  margin-bottom: 10px;
}
.plat h3 {
  padding: 10px;
}
.precisions {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.entrees,
.plats,
.desserts {
  margin-bottom: 40px;
}
.precisions p {
  font-weight: 300;
  font-size: medium;
}
.precisions h4 {
  font-weight: 400;
  font-size: 1em;
  padding-right: 15px;
}
.bouton-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.bouton-commander button {
  padding: 20px 70px;
}
.check {
  position: absolute;
  top: 1px;
  right: 0;
  padding: 29px 40px;
  color: #f6f6f6;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  box-shadow: inset 16px 0px 0px 0px #8de4ce;
}
.loader {
  display: block;
}

/* animations / responsive */

button:hover {
  background: linear-gradient(
    170deg,
    rgba(255, 121, 218, 0.8) 0%,
    rgba(214, 108, 219, 0.8) 39%,
    rgba(171, 94, 220, 0.8) 85%,
    rgba(155, 89, 220, 0.8) 100%
  );
  box-shadow: 8px 8px 2px #acabab;
}
.like :nth-child(2):hover {
  background: linear-gradient(to bottom left, #9356dc, #ff79da);
  font-size: large;
  transform: scale(2);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.titre-etape:hover {
  background: #f5edff;
  box-shadow: 0px 5px 4px 5px lightgrey;
}

.bloc-plat:hover .plat {
  margin-right: 90px;
  border-radius: 20px 0 0 20px;
  transition-duration: all 400ms;
  transition-timing-function: linear;
}
.check:hover {
  cursor: pointer;
}
.entrees {
  animation: apparition 1s forwards;
  opacity: 0;
}

.plats {
  animation: apparition 4s forwards;
  opacity: 0;
}

.desserts {
  animation: apparition 6s forwards;
  opacity: 0;
}
@keyframes apparition {
  from {
    transform: translatey(40px);
    opacity: 0%;
  }
  to {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@media screen and (min-width: 900px) {
  .groupe-fonctionnement {
    flex-direction: row;
    padding: 20px 0px;
    gap: 10px;
  }
  .fonctionnement {
    display: block;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .fonctionnement h1 {
    margin-left: 100px;
  }
  .fonctionnement-etapes {
    gap: 0;
  }
  .titre-etape {
    padding: 20px 1px 19px 18px;
    min-width: 200px;
    width: inherit;
  }

  .restaurants {
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: scroll;
    padding-left: 110px;
    gap: 50px;
  }
  .restaurants h1 {
    padding: 0;
  }
  .card-restaurant {
    min-width: 350px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  footer ul {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 30px;
  }
  footer h6 {
    margin-bottom: 12px;
  }
  .identite-restaurant div,
  .menu {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .identite-restaurant {
    background: none;
    margin-bottom: -8px;
  }
}
