@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

header {
  margin-bottom: 5px;
  padding: 20px;
}

header img {
  display: block;
  margin: auto;
  max-width: 200px;
}
i,
h3 {
  padding: 10px 15px;
}
i,
h3,
p {
  font-weight: 400;
  font-size: 1em;
}
h4 {
  font-weight: 500;
  font-size: 1em;
  padding: 5px;
}
h5 {
  font-weight: 300;
  font-size: 1em;
  padding: 5px;
}

h1 {
  font-weight: 500;
}
h2 {
  font-weight: 300;
  font-size: medium;
}
p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h6 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 20px;
}
i {
  font-weight: lighter;
  font-size: 20px;
  font-size: medium;
}
a {
  color: inherit;
  text-decoration: none;
}

footer {
  background: #353535;
  color: white;
  padding: 20px;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer p {
  font-size: smaller;
}
footer i {
  width: 32px;
}
.localisation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px #cdcccc;

  font-family: "Roboto";
  font-weight: 500;
  gap: 10px;
}
.titre-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f7f7f7;
  gap: 20px;
  padding: 40px 20px;
}

button {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  padding: 20px 30px;
  max-width: 300px;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 4px 2px lightgrey;
  color: white;
  font-size: large;
  cursor: pointer;
}
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
}
.fonctionnement-etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.fonctionnement-etapes p {
  z-index: 1;
  position: absolute;
  color: white;
  background: #9356dc;
  border-radius: 50%;
  padding: 5px 10px;
}
.titre-etape {
  position: relative;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 20px;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  margin-left: 15px;
  width: 80vw;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #f7f7f7;
  gap: 20px;
  padding: 40px 20px;
}
.restaurants img {
  object-fit: cover;
  width: 90vw;
  border-radius: 20px 20px 0 0;
  height: 150px;
  width: 100%;
}
.card-restaurant {
  background: white;
  box-shadow: 0px 5px 5px lightgrey;
  border-radius: 20px;
}

.nom-restaurant {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.proposer-restaurant,
.devenir-partenaire {
  display: flex;
  align-items: center;
}

.proposer-restaurant i,
.devenir-partenaire i {
  padding: 0 17px 0 0;
}
.header-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.identite-restaurant {
  background: #f7f7f7;
}
.identite-restaurant img {
  object-fit: cover;
  width: 100vw;
}

.identite-restaurant div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  transform: translateY(-75px);
  border-radius: 50px 50px 0 0;
  background: #f7f7f7;
  margin-bottom: -50px;
}
.identite-restaurant h1 {
  font-family: "Shrikhand";
  font-size: 1, 5em;
}
.menu {
  background: #f7f7f7;
  padding: 20px;
}
.menu h2 {
  font-weight: 300;
  font-size: large;
}
.ligne {
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}
.plat {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
.plat h3 {
  padding: 10px;
}
.precisions {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.entrees,
.plats,
.desserts {
  margin-bottom: 40px;
}
.precisions p {
  font-weight: 300;
  font-size: medium;
}
.precisions h4 {
  font-weight: 400;
  font-size: 1em;
  padding-right: 15px;
}
.bouton-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.bouton-commander button {
  padding: 20px 70px;
}
